{{define "header"}}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VSCode チートシート</title>
    <!-- <link rel="stylesheet" href="../styles/style.css"> -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <!-- <style>
      @import url("/assets/css/style.css");
    </style> -->
  </head>
<body>
  <div>
    <h1 class="text-gray-500 text-2xl p-5 m-6 text-center font-semibold">VSCode ショートカット チートシート</h1>
{{end}}