{{define "header"}}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VSCode チートシート</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- <script type="text/javascript" src="/js/script.js"></script> -->
    <!-- <style type="text/css" media="screen">
      @import url("/assets/css/style.css");
    </style> -->
  </head>
<body>
  <header>
    <h2>VSCode ショートカット チートシート</h1>
  </header>
{{end}}