{{template "header" }}
<a href="/showall"><button class="btn btn-move">全てを表示</button></a>
<div>
  <table>
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Shortcut</th>
        <th scope="col">Description</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    {{ range .vscs }}
    {{if .Visiable}}
    <thead>
      <tr>
        <td scope="col">{{ .Title }}</td>
        <td scope="col">{{ .Shortcut }}</td>
        <td scope="col">{{ .Description }}</td>
        <td scope="col">
          <a href="/delete/{{.ID}}"><button class="btn">Delete</button></a>
        </td>
      </tr>
    </thead>
    {{end}}
    {{end}}
  </table>
</div>
{{template "footer" }}

