{{template "header" }}
<form action="/set" method="POST">
  <input class="btn btn-move" type="submit">
    <div>
          <table>
          <thead>
            <tr>
              <th class="td-left" scope="col">Title</th>
              <th scope="col">Shortcut</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          {{ range .vscs }}
            <thead class="bg-white divide-y divide-gray-200">
              <tr>
                <td class="td-left" scope="col">
                  {{if .Visiable}}
                    <input type="checkbox" name="ids[]" value="{{.ID}}" id="{{.ID}}">
                    <label for="{{.ID}}">{{ .Title }}</label>
                  {{else}}
                    <input type="checkbox" name="ids[]" value="{{.ID}}" id="{{.ID}}" checked>
                    <label for="{{.ID}}">{{ .Title }}</label>
                  {{end}}
                </td>
                <td scope="col">{{ .Shortcut }}</td>
                <td scope="col">{{ .Description }}</td>
              </tr>
            </thead>
          {{end}}
        </table>
    </div>
</form>
{{template "footer" }}

