{{template "header" }}
  <a href="/"><button class="bg-gray-400 font-semibold text-white py-2 px-5 rounded btn hover:bg-red-500 focus:outline-none focus:shadow-outline">戻る</button></a>
</div>
<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Title</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Shortcut</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Delete</th>
            </tr>
          </thead>
          {{ range .scs }}
          <thead class="bg-white divide-y divide-gray-200">
            <tr>
              <td scope="col" class="px-6 py-4">{{ .Title }}</td>
              <td scope="col" class="px-6 py-4 whitespace-nowrap animate-pulse" >{{ .Shortcut }}</td>
              <td scope="col" class="px-6 py-4">{{ .Description }}</td>
              <td scope="col" class="px-6 py-4 whitespace-nowrap">
              {{if .Visiable}}
                <a href="/delete/{{.Shortcut}}"><button class="bg-gray-400 font-semibold text-white py-2 px-4 rounded btn hover:bg-red-400 focus:outline-none focus:shadow-outline">消去</button></a>
              {{else}}
                <a href="/add/{{.Shortcut}}"><button class="bg-gray-800 font-semibold text-white py-2 px-4 rounded btn hover:bg-blue-400 focus:outline-none focus:shadow-outline">表示</button></a>
              {{end}}
              </td>
            </tr>
          </thead>
          {{end}}
        </table>
      </div>
    </div>
  </div>
</div>
{{template "footer" }}

